{:body "# Abracadabra \n\n## Zippity doo\n\n### I have another header for you\n\n+ You can\n+ Live in\n+ Post-iness, oh you! \n+ Avra\n+ Kedavra\n+ Loompity-do!\n\n```clojure\n(ns qux\n  (:require [clojure.string :as smeg]))\n\n(defn foobar [x y]\n  (smeg/join \"...\" [\"yo\"\n                    (str (+ x y))]))\n```", :template "index.html", :title "Test Post 2", :published #inst "2014-07-05T00:00:00.000-00:00", :categories ["another-test"], :tags ["test-tag-1" "test-tag-3"]}