{:body "# Put some fresh new stuff in here\n\n## See what comes out the other end\n\n    (defn this-should-be-a-code-block []\n      (+ 1 1))\n\nSo, how about that paragraph text eh?", :template "index.html", :title "Let's try a new one", :published #inst "2014-07-06T13:54:05.889-00:00"}