{:body "\n\"The attentive worker is diligent, humble, painstaking and relentless.\"\n\n<img src=\"/img/attentive-worker-1913.jpg\"></img>", :template "index.html", :title "about", :published #inst "2014-07-21T00:00:00.000-00:00"}